body {
    background-color: #000;
}


.header-container {
    /* styles for the header container */
}

.logo-container {
    display: inline-block;
    vertical-align: middle; /* add vertical alignment to the logo */
}

.title-container {
    display: inline-block;
    vertical-align: middle; /* add vertical alignment to the title */
    color: #ffffff;
}

.tagline {
    color: #ffffff;
}

.mission-tag {
    width: 400px;
    height: 100px;
    display: inline-block;
    color: #ffffff;
}

.policy-tag {
    width: 400px;
    height: 100px;
    display: block;
    color: #ffffff;
}

.tagline h2 {
    border-bottom: 4px solid #964B00;
    width: 465px;

}

.contact-dropdown {
    position: fixed;
    right: 5px;
    top: -265px;
    transform: translateY(500%);
    display: inline-block;

}


.contact-dropdown button {
    background-color: #fff;
    border: none;
    font-size: 18px;
    cursor: pointer;
}

.contact-dropdown button:hover {
    background-color: #f0f0f0;
}

.contact-info {
    display: none;
    position: absolute;
    right: 0;
    top: 100%;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    width: 200px;
}

.contact-dropdown:hover .contact-info {
    display: block;
}

.contact-info p {
    margin-bottom: 10px;
}