@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body, html {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    min-height: 100%;
    background-color: #D9d9d9d9;
}

body::-webkit-scrollbar {
    display: none;
}

:root {
    --dl-size-size-maxcontent: 1200px;
    --dl-space-space-fiveunits: 40px;
    --dl-space-space-tenunits: 80px;
    --dl-space-space-tripleunit: 24px;
    --dl-space-space-fourunits: 32px;
    --dl-space-space-doubleunit: 16px;
    --dl-space-space-unit: 8px;
    --dl-color-gray-700: #4a4a4a;
    --dl-color-gray-900: #212121;
    --dl-color-gray-500: #9e9e9e;
    --dl-radius-radius-radius8: 8px;
    --dl-radius-radius-round: 50%;
    --font-size-heading: 24px;
    --font-size-text: 16px;
    --font-size-small-heading: 18px;
    --font-weight-bold: 700;
    --font-weight-regular: 400;
}

.home-our-story {
    width: 100%;
    display: flex;
    max-width: var(--dl-size-size-maxcontent);
    margin: var(--dl-space-space-fiveunits) auto;
    align-items: center;
    padding: var(--dl-space-space-tenunits) var(--dl-space-space-tripleunit);
    flex-direction: column;
}

.home-our-story::-webkit-scrollbar {
    display: none;
}

.home-heading-container {
    width: 45%;
    display: flex;
    align-items: center;
    padding: 0 var(--dl-space-space-tripleunit);
    margin-bottom: var(--dl-space-space-fiveunits);
    flex-direction: column;
    text-align: center;
}

.home-text.section-heading {
    font-size: var(--font-size-heading);
    font-weight: var(--font-weight-bold);
    margin-bottom: var(--dl-space-space-fourunits);
}

.home-text.section-text {
    font-size: var(--font-size-text);
    font-weight: var(--font-weight-regular);
    color: var(--dl-color-gray-700);
    margin-bottom: var(--dl-space-space-doubleunit);
}

.home-cards-container {
    width: 100%;
    display: flex;
    margin-top: var(--dl-space-space-doubleunit);
    align-items: flex-start;
    justify-content: space-between;
}

.home-left-section {
    width: 50%;
    display: flex;
    align-items: center;
    border: 1px solid var(--dl-color-gray-900);
    margin-right: var(--dl-space-space-fourunits);
    border-radius: var(--dl-radius-radius-radius8);
    flex-direction: column;
    overflow: hidden;
}

.home-video-container {
    width: 100%;
    position: relative;
    border-radius: var(--dl-radius-radius-radius8);
    margin-bottom: var(--dl-space-space-fourunits);
    background-color: var(--dl-color-gray-900);
}

.home-video {
    width: 100%;
    height: 350px;
    border-radius: var(--dl-radius-radius-radius8);
}

.home-play-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--dl-color-gray-500);
    border-radius: var(--dl-radius-radius-round);
}

.home-icon {
    fill: var(--dl-color-gray-500);
    width: 48px;
    height: 48px;
}

.home-content-container {
    padding: var(--dl-space-space-doubleunit);
    margin-left: var(--dl-space-space-doubleunit);
    width: 100%;
    display: flex;
    align-items: flex-start;
    padding: 0 var(--dl-space-space-tripleunit);
    flex-direction: column;
}

.home-heading.card-heading {
    font-size: var(--font-size-small-heading);
    font-weight: var(--font-weight-bold);
    text-align: left;
    margin-bottom: var(--dl-space-space-tripleunit);
}

.home-text.card-text {
    font-size: var(--font-size-text);
    font-weight: var(--font-weight-regular);
    margin-bottom: var(--dl-space-space-unit);
}

.home-info-container {
    width: 100%;
    display: flex;
    align-items: flex-start;
    padding: var(--dl-space-space-doubleunit) var(--dl-space-space-tripleunit);
    border-top: 1px solid var(--dl-color-gray-900);
    justify-content: space-between;
}

.home-info-container .card-text {
    width: 100%;
    padding: var(--dl-space-space-doubleunit);
    justify-content: space-between;
}

.home-info-container-small {
    grid-auto-flow: column dense;
    border-top: 1px solid var(--dl-color-gray-900);
    display: grid;
    grid-template-columns: 7fr 1fr 1fr;
    font-size: var(--font-size-text-small);
}

.home-info-container-small .card-text-small-date {
    font-size: var(--font-size-text-small);
    font-weight: normal; 
    padding-left: var(--dl-space-space-doubleunit);
}

.home-stats-container-small {
    display: grid;
    grid-auto-flow: column dense;
    justify-content: center;
    align-items: center;
}


.home-stats-container,
.home-messages-container,
.home-views-container {
    display: flex;
    align-items: center;
}

.home-messages-container {
    margin-right: var(--dl-space-space-tripleunit);
}

.home-right-section {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.home-card {
    width: 48%;
    display: flex;
    align-items: flex-start;
    border: 1px solid var(--dl-color-gray-900);
    border-radius: var(--dl-radius-radius-radius8);
    margin-bottom: var(--dl-space-space-fourunits);
    flex-direction: column;
    overflow: hidden;
}

.home-image {
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-radius: var(--dl-radius-radius-radius8);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.home-card.home-heading.card-heading{
    margin-left: var(--dl-space-space-unit);
}

.home-text.small-card-heading {
    margin-left: var(--dl-space-space-unit);
    font-size: var(--font-size-small-heading);
    font-weight: var(--font-weight-bold);
    text-align: left;
    margin-bottom: var(--dl-space-space-doubleunit);
}

.anchor {
    font-size: var(--font-size-text);
    font-weight: var(--font-weight-bold);
    margin-bottom: var(--dl-space-space-tripleunit);
}
