
* {
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
}

body,html{
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: auto;
    box-sizing: border-box;
}



.home-content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 10px 30px 10px 40px;
    box-sizing: border-box;
}

.home-logo {
    width: 100px;
    height: 100px;
    margin-right: 20px;
    object-fit: cover;
}

.home-tagline {
    font-size: 2.3rem;
    font-weight: 900;
    line-height: 1.0;
    word-spacing: 2px;
    color: #f78D05;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: left;
}

.white-rectangle {
    height: 20px;
    margin: 10px 40px;
    background-color: rgb(168, 168, 168);
}

.video-container {
    display: flex;
    justify-content: center;
    margin: 10px 40px;
}

video {
    width: 100%;
    height: auto;
    object-fit: cover;
    max-height: 400px; 
}

.paragraphs-container {
    display: flex;
    justify-content: space-between;
    margin: 40px 200px;

}

.paragraph {
    flex: 1;
    margin: 30px 10px;
    padding: 15px;
    font-size: 20px;
    font-weight: 100;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #55220fd1;
    background-color: #c6cdd2; 
    text-align: justify;
    user-select: none; 
    border: 5px solid #3d3c3a;
}

