
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body,html{
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: auto;
    box-sizing: border-box;
}

body::-webkit-scrollbar {
    display: none;
}



.home-content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 10px 30px 10px 40px;
    box-sizing: border-box;
}

.home-logo {
    width: 100px;
    height: 100px;
    margin-right: 20px;
    object-fit: cover;
}

.home-tagline {
    font-size: 2.3rem;
    font-weight: 900;
    line-height: 1.0;
    word-spacing: 2px;
    color: #f78D05;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: left;
}

.white-rectangle {
    height: 20px;
    margin: 10px 40px;
    background-color: rgb(168, 168, 168);
}

.content{
    display:none;
}

.section-Container{
    padding: 2%;
    width: 50%;
    text-align: center;
    background-color: bisque;
    box-shadow: 5px 5px lightblue;
    border-radius: 15px; /* Rounded edges */
    transition: background-color 1s, box-shadow 1s; 
}

.section-Container:hover{
    background-color: rgb(231, 208, 179);
    box-shadow: 10px 10px rgb(40, 106, 128);
}

/*for input -- when clicked */
input{
display: none; /* Hide the checkbox */
}

input:checked + .tag {
    display: none;
    animation: fadeIn 1s;
}
input:checked + .tag + .content {
    display: block; 
    color: rgb(12, 11, 104);
    animation: fadeIn 1s;
}

input:not(:checked) + .tag {
display: block;
animation: fadeIn 1s;
}
input:not(:checked) + .tag + .content {
    display: none;
    animation: fadeIn 1s;
}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}