body,html{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 0.01%;
}

body::-webkit-scrollbar {
    display: none;
}

.main-container{
    display: flex;
    flex-direction: column;
}

/* mission and policy*/


.inner-containter{
    display: flex;
    position: absolute;
    z-index: 1;
    top: 80%;  
    left: 50%;
    transform: translate(-50%, -50%); 
    padding: 3%;
    flex-direction: row;
    width: 80vw;
    align-content: center;
    

}

.video-container {
    border: none; 
    width: 100%;
    height: 100%;   
    display: flex;
    position: relative;  
    text-align: center;  
    overflow: hidden;

}  
.video-container video {  
    object-fit: cover; 
    position: absolute;
    width: 100%; 
    height: 100%; 
    z-index: -1;  
}  
.text-of-video{
    position: absolute;
    top: 35%;  
    left: 50%; 
    transform: translate(-50%, -50%); 
    color: #e1efe6; /* Text color */  
    font-size: 5vw;
    background-color: #160c28c8; /* Semi-transparent background */ 
    border-radius: 15%; 
    padding-bottom: 8%; /* Padding around text */  
    z-index: 1; /* Higher z-index to overlap video */ 
    width: 80%;
    height: 40%;
    margin-bottom: 10%;
}

.tag{
    font-size: 2vw;
    color: black;
    cursor: pointer;
}

.content{
    font-size: 1vw;
    color: black;
    display:none;
}

.section-Container{ 
    padding: 2%;
    width: 50vw;
    text-align: center;
    background-color: #efcb6893;
    box-shadow: 5px 5px #aeb7b39a;
    border-radius: 15px; /* Rounded edges */
    transition: background-color 1s, box-shadow 1s; 
}

.section-Container:hover{
    background-color: #efcb68;
    box-shadow: 8px 8px #aeb7b3;
}

/*for input -- when clicked */
input{
display: none; /* Hide the checkbox */
}

input:checked + .tag {
    display: none;
    animation: fadeIn 1s;
}
input:checked + .tag + .content {
    display: block; 
    color: rgb(12, 11, 104);
    animation: fadeIn 1s;
}

input:not(:checked) + .tag {
display: block;
animation: fadeIn 1s;
}
input:not(:checked) + .tag + .content {
    display: none;
    animation: fadeIn 1s;
}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@media   screen and  (max-width: 425px) {
    
    .main-container{
        display: flex;
        flex-direction: column;
    }
    
    /* mission and policy*/
    
    
    .inner-containter{
        border: 2px solid #849981;
        display: flex;
        position: absolute;
        z-index: 1;
        top: 70%;  
        left: 50%;
        transform: translate(-50%, -50%); 
        padding: 3%;
        flex-direction: column;
        gap: 3%;
        width: 80vw;
        align-content: center;
        
    }
    
    .video-container { 
         
        width: 100%;
        height: 100%; 
        display: flex;
        position: relative;  
        text-align: center;  
    
    }  
    .video-container video {  
        width: 100%; 
        height: 100%; 
        z-index: -1;  
    }  
    .text-of-video{
        position: absolute;
        top: 30%;  
        left: 50%; 
        transform: translate(-50%, -50%); 
        color: #dbe9ef; /* Text color */  
        font-size: 7.8vw;
        background-color: #493b2a64; /* Semi-transparent background */  
        padding: 4%; /* Padding around text */  
        z-index: 1; /* Higher z-index to overlap video */ 
        width: 80%;
        height: 40%;
    }
    .content , .tag{
        align-self: center;
        margin: 3%;
    }
    .tag{
        background-color: #7b6d8daf;
        display: block;
        font-size: 1.5vw;
        color: white!important;
        cursor: none;
    }
    
    .content{
        display: none;
        color: white!important;
        font-size: 1vw;
        
    }
    
    .section-Container{
        align-self: center;
        margin: 2%; 
        padding: 2%;
        width: 50vw;
        text-align: center;
        background-color: #593f628a;
        box-shadow: 5px 5px rgba(173, 216, 230, 0);
        border-radius: 5px; /* Rounded edges */
    }
    
    .section-Container:hover{
        background-color: #593f628a;
        box-shadow: 5px 5px rgba(173, 216, 230, 0);
    }/* Ensure that both tag and content are shown */
    
    input{
        display: none; /* Hide the checkbox */
    }
    input:checked + .tag {
        background-color: #7b6d8daf;
        display: block;
        animation: fadeIn 1s;
    }
    
     input:checked + .tag + .content {
         display: block; 
         color: white;
         animation: fadeIn 1s;
    }
        
        input:not(:checked) + .tag {
        display: block;
        animation: fadeIn 1s;
        }
        input:not(:checked) + .tag + .content {
            display: none;
            animation: fadeIn 1s;
        }

    
}