@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body, html {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    min-height: 100%;
}

body::-webkit-scrollbar {
    display: none;
}

:root {
    --body-color: #e4e9f7;
    --sidebar-color: rgb(232, 211, 140);
    --primary-color: rgb(85, 67, 35);
    --toggle-color: #DDD;
    --text-color: #707070;
    --text--prime-color: rgba(207, 189, 245, 0.5);

    --tran-01: all 0.1s ease;
    --tran-02: all 0.2s smooth;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;

    --dl-space-space-halfunit: 4px;
    --dl-space-space-oneandhalfunits: 12px;
    --dl-space-space-twounits: 16px;
    --dl-space-space-threeunits: 24px;
    --dl-space-space-fourunits: 32px;
    --dl-space-space-sixunits: 48px;
    --dl-space-space-sevenunits: 56px;
}


.home-banner-advanced-analytics1 {
    width: 100%;
    display: flex;
    align-items: center;
    padding-top: var(--dl-space-space-sixunits);
    padding-left: var(--dl-space-space-sevenunits);
    padding-right: var(--dl-space-space-sevenunits);
    flex-direction: row;
    padding-bottom: var(--dl-space-space-sixunits);
    justify-content: center;
    background-color: #EFF0F2;
}


.home-banner-advanced-analytics2 {
    width: 100%;
    display: flex;
    align-items: center;
    padding-top: var(--dl-space-space-sixunits);
    padding-left: var(--dl-space-space-sevenunits);
    padding-right: var(--dl-space-space-sevenunits);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-sixunits);
    justify-content: center;
    background-color: #EFF0F2;
}

.home-centered-container1 {
    width: 100%;
    display: flex;
    max-width: 1200px;
    align-items: center;
    justify-content: center;
    flex-direction: row; /* Changed to row */
}

.home-image-container2 {
    flex: 1;
    display: flex;
    order: 1; /* Ensure images are on the left */
}

.home-cards-image2 {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.home-right2 {
    flex: 1;
    display: flex;
    margin-left: var(--dl-space-space-fourunits);
    flex-direction: column;
    order: 2; /* Ensure text is on the right */
}

.home-text132 {
    display:flex;
    font-size: 28px;
    text-align: left;
    line-height: 26px;
    margin-bottom: var(--dl-space-space-twounits);
}

.home-category1 {
    display: flex;
    align-items: flex-start;
    margin-bottom: var(--dl-space-space-twounits);
    flex-direction: column;
}

.home-text133 {
    color: rgb(0, 0, 0);
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: var(--dl-space-space-halfunit);
}

.home-text134 {
    color: rgb(0, 0, 0);
    line-height: 24px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
}

.home-text135 {
    color: #5228F5;
    cursor: pointer;
    font-style: normal;
    transition: 0.3s;
    font-weight: 600;
}

.home-text135:hover {
    color: #000000;
}

.home-category2 {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.home-text136 {
    color: rgb(0, 0, 0);
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: var(--dl-space-space-halfunit);
}

.home-text137 {
    color: rgb(0, 0, 0);
    line-height: 24px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
}

.home-text138 {
    color: #5228F5;
    cursor: pointer;
    font-style: normal;
    transition: 0.3s;
    font-weight: 600;
}

.home-text138:hover {
    color: #000000;
}

.data-container1 {
    margin-right: 3%;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}

table {
    /* background-color: #000000; */
    color: #e4e9f7;
    margin-bottom: 3%;
    
}



th {
    background-color: #2c3346;
    color: #fdf8ff;
    font-size: .7rem;
    padding: 1cqw;

}

th:first-child{
    padding: 1cqw;
}

th, td {
    text-align: center; /* Center the text */
    padding: 2px;
    /* border: 1px solid #ddd; */
}

.data-container2 .table-container > td{
    padding: 49px;
    
}

tr{
    font-size: 0.7rem;
}



tr:nth-child(even){
    background-color: #2c2936;
}

tr:nth-child(odd){
    background-color: #2e5b56;
}

tr:hover {
    background-color: #464A52;
 -webkit-box-shadow: 0 6px 6px -6px #0E1119;
      -moz-box-shadow: 0 6px 6px -6px #0E1119;
           box-shadow: 0 6px 6px -6px #0E1119;
 }
 
td:hover {
   background-color: #61f468;
   color: #403E10;
   font-weight: bold;
   
   box-shadow: #3c5f22 -1px 1px, #7F7C21 -2px 2px, #7F7C21 -3px 3px, #7F7C21 -4px 4px, #7F7C21 -5px 5px, #7F7C21 -6px 6px;
   transform: translate3d(6px, -6px, 0);
   
   transition-delay: 0s;
     transition-duration: 0.4s;
     transition-property: all;
   transition-timing-function: line;
 }

@media (max-width: 768px) {
    .home-banner-advanced-analytics {
        flex-direction: column;
        padding-left: var(--dl-space-space-fourunits);
        padding-right: var(--dl-space-space-fourunits);
    }

    .home-image-container2 {
        margin-bottom: var(--dl-space-space-fourunits);
    }

    .home-right2 {
        margin-left: 0;
    }
}
