:root{
    --chart-color-urban: green;
    --chart-color-rural: orange;
    --chart-thickness: 2px;
    --border: 2px solid rgba(211, 211, 211,0.6);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }