@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
    --trans-1: 1.5s ease;
    --scroll-width: 10px;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: transparent;
    margin: 0;
    background-color: #0074f0;
    overflow: hidden;
}

.targets-container {
    display: flex;
    align-items: baseline;
    gap: 20px;
    padding: 20px;
    overflow-x: auto;
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
    transition: scrollbar-color 0.3s ease;
}

.targets-container::-webkit-scrollbar {
    width: var(--scroll-width);
    height: var(--scroll-width);
}

.targets-container::-webkit-scrollbar-thumb {
    background-color: transparent;
    transition: background-color 0.3s ease;
}

.targets-container:hover:not(:has(.target-card:hover)) {
    scrollbar-color: rgba(0, 0, 0, 0.5) transparent;
}

.targets-container:hover:not(:has(.target-card:hover))::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.5);
}

/* Target card */
.target-card {
    background-color: #e2cfb9;
    border-radius: 8px;
    box-shadow: 0 10px 10px rgba(188, 23, 23, 0.1);

    display: grid;
    grid-template-columns: 40% 30% 30%;
    grid-template-rows: 32% 68%;
    grid-template-areas: 
    "images title title"
    "images paragraph paragraph";
    border-radius: 10%;
    width: 85vw; 
    max-width: 28rem; 
    height: 20vw; 
    flex-shrink: 0;
    transition: background-color 1s; 
    position: relative;
}
.images{
    /*border: 1px solid black;*/
    grid-area: images;
    align-content: center;
    
}
.images img {
   /* border: 1px solid black;*/
    width: 25vw; 
    max-width: 10rem; 
    height: auto;
    margin-left: 5%;
}
.title{
    /* border: 1px solid black;*/
    grid-area: title;
    text-align: center;
    align-content: center;
    font-weight: 700; 
    color: rgb(44, 61, 157);
    font-size: 2.3vw;
   
}
.paragraph{
    /* border: 1px solid black;*/
    grid-area: paragraph;
    text-align: center;
    align-content: center;
    font-size: 0.95vw;
    
}
.paragraph p{
    margin-left: 3%;
    margin-right: 3%;
}

/*
this hover has no bugs, application is optional
*/
.target-card:hover{  
    transform: translateY(-10px); 
    background-color: #f1c592;
}






